# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.sqlite

# Ignore static files collected by Django
/staticfiles/

# Ignore local development files
*.env
.vscode/
.idea/

# Ignore virtual environments
venv/
ENV/
env/
